* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.logo {
    font-size: 32px;
}
/* * NAVBAR STYLING STARTS */ 
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: white;
}
.nav-links a {
    color: white;
}               
                 
.menu{
    display: flex;
    gap: len;
    font-size: 18px;
}
.menu li:hover{
    background-color: #4c9c9e;
    border-radius: 5px;
    transition: 0.3 ease;
}
.menu li{
    padding: 5px 14px;
}
li{
    list-style: none;
}
.services{
    position: relative;
}
.dropdown{
    background-color: rgb(1, 139, 139);
    padding: lem 0;
    display: none;
    position: absolute;
    border-radius: 8px;

}
.services:hover  .dropdown{
    display: block;
}
input[type="checkbox"]{
    display: none;
}
.hamburger{
    display: none;
}
@media(max-width:750px){
    .menu{
        display: none;
        position: absolute;
    }
    .hamburger {
        display: block;
    }
    
    input[type="checkbox"]:checked ~ .menu {
        display: block;
    }
}