h1{
    margin: 0px;
    background-color: black;
    color: lime;
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;
    
}
h2, p{
    margin: 10px auto auto auto;
    text-align: center;
    font-family:monospace;

    
}
body{
    margin: 0px;
    /* background-color: black; */
    /* background-color: rgb(0, 7, 0); */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
label{
    font-size: 16px;
    font-weight: 800;
    font-family:monospace;
}
fieldset{
    width: 80%;
    background-color: chartreuse;
    border-radius: 10px;
    border: 0px;
    margin: 0px auto 0px auto;
    padding: 20px;
    max-width: 300px;
}

